version: 2.1

orbs:
  node: circleci/node@5.2.0
  php: circleci/php@1.1.0
  project: bigbite/project@1.2.0

jobs:
  build:
    executor:
      name: project/default
      php: '8.2'
    steps:
      - checkout
      - project/setup
      - project/npm-install
      - project/npm-build
      - project/composer-install
      - project/phpcs
      - project/phpstan:
          memory_limit: '1042M'
      - project/composer-install:
          no_dev: 'true'
          dump_autoload: 'true'
      - project/create-build

workflows:
  workflow:
    jobs:
      - build:
          context: bigbite
          filters:
            branches:
              ignore: /^.*-built$/
