.wp-block-post-author__avatar {
  margin-inline-end: 0.75rem;
}
.wp-block-post-author__avatar img {
  inline-size: 45px;
  block-size: 45px;
  display: block;
  border-radius: 50%;
}

.wp-block-post-author__content {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.wp-block-post-author__byline {
  font-weight: 400;
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-author__name {
  font-weight: 700;
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-mediapress-live-feed .live-feed-item {
  border-radius: 4px;
}
