.wp-block-mediapress-listicle-range-pagination {

  .listicle-range-pagination__button {
    border-color: #e7e7e7;
  }

  .listicle-range-pagination__button:hover,
  .listicle-range-pagination__button:focus,
  .listicle-range-pagination__button[aria-current="true"]
   {
    background: var(--wp--preset--color--accent);
  }
}
