<!-- wp:pattern {"slug":"mediapress-starter-theme/header-featured-post-alt"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"inherit":true,"contentSize":"1000px","wideSize":"1280px"}} /-->

    <!-- wp:template-part {"slug":"footer","theme":"mediapress-starter-theme","area":"footer"} /-->
</main>
<!-- /wp:group -->